/*universal styling*/

html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica sans-serif;
  background-color: white;
}

/*containers*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
}

/*header*/

header .container {
  background-color: cadetblue;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  margin: 1rem 0;
  position: absolute;
  z-index: 1;
  width: 960px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*logo*/

.logow {
  height: 1.5rem;
  padding-right: 1rem;
  justify-content: flex-start;
}


/*main title*/

.maintitle,
.desktop {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

}

.maintitle {
  align-self: center;
}

.logo  {
  justify-content: flex-start;
  align-items: center;
}

/*navigation section*/

.desktop li,
.mobile li {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2rem;
}

.desktop a,
.desktop a:visited,
.mobile a,
.mobile a:visited {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
}

/*banner*/

.main-banner {
  background-image: url();
  width: 100%;
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*slogan*/
/*icons*/

.icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14rem;
  padding: 3rem 0;
}

/*paper*/
/*ruler*/
/*truck*/
/*info*/

.info {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
/*philosophy*/
/*appointments*/
/*footer*/

.footer {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  background-color: azure;
  padding: 4rem 4rem;
  width: 100%;
}
/*logo*/
/*copyright*/
