/*universal styling*/

html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica;
  background-color: white;
}


/*containers*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*header*/

header .container {
  background-color: cadetblue;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  margin: 1rem 0;
  margin-left: 10rem;
  position: absolute;
  z-index: 1;
  width: 960px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*logo*/

.logow {
  height: 1.5rem;
  padding-right: 1rem;
  justify-content: flex-start;
}


/*main title*/

.maintitle,
.desktop {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

}

.maintitle {
  align-self: center;
}

.logo  {
  justify-content: flex-start;
  align-items: center;
}

/*navigation section*/

.desktop li,
.mobile li {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2rem;
}

.desktop a,
.desktop a:visited,
.mobile a,
.mobile a:visited {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
}

/*banner*/

.main-banner {
  background-image: url("../images/glasses-bg.png");
  width: 100%;
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*slogan*/

.slogan {
  background-color: white;
  color: black;
  text-transform: capitalize;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: 8rem;
}

/*icons*/

.icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 14rem;
  padding: 3rem 0rem;
}

/*paper*/

.paper,
.ruler,
.truck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  flex-wrap: wrap;
  text-align: center;
  font-family: Helvetica;
  line-height: inherit;
}

.ruler,
.truck {
  padding-left: 6rem;
}

.paper img {
  width: 3.5rem;
  padding-bottom: 1rem;
}
/*ruler*/

.ruler img {
  width: 5rem;
  padding-bottom: 1rem;
}
/*truck*/

.truck img {
  width: 5rem;
  padding-bottom: 1rem;
}
/*info*/

.info {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
/*philosophy*/
/*appointments*/
/*footer*/

.footer {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  background-color: azure;
  padding: 4rem 4rem;
  width: 100%;
}
/*logo*/
/*copyright*/
